
body {
    background-image: url( ./Assets/Images/charles-postiaux-i9Kfzb9idZo-unsplash.jpg);
    background-size: cover;
    opacity: 1;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.navbar{
    border: 6px solid salmon;
    width: 95%;
    flex: 1;
    margin: auto;
    text-align: center;
    align-content: center;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}

nav ul li{
    list-style: none;
    display: inline-block;
    text-decoration: none;
    color: yellow;
    margin: 10px;
    font-size: 25px;
}

nav ul li a:hover{
    color: blue;
    
}

nav ul li a{
    text-decoration: none;
    color: yellow;
    font-size: 25px;
    display: inline-block;
}

.directions {
    margin-top: 4px;
    width: 100%;
    align-items: center;
    text-align: center;
    display: flex;
    height: auto;
    justify-content: center;
    color: yellow;
    font-size: 20px;
}


.directions ul li {
    text-align: left;
    text-decoration: none;
    color: yellow;
    list-style: none;
    margin: 5px;
    font-size: 20px;

}

.directions h2{
    padding-left: auto;
    width: auto;
}
.directions ul{
    width: auto;
}

/*create the grid*/

#gameboard{
    background-image: url(./Assets/Images/pexels-laker-6157027.jpg);
    display: grid;
    box-shadow: 5px 5px 5px 5px red;
    grid-template-columns: repeat(25, 1fr);
    grid-template-rows: repeat(25, 1fr);
    margin-top: 4px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    position: relative;
    border: 10px solid yellow;
    text-align: center;
    opacity: 2;
    background-position: center;
    background-size: 100%;
    height: 500px;
    width: 500px;
}

footer{
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    color: yellow;
    width: 100%;
    text-align: center;
    margin: auto;
}


/* Create the Dragon and mushroom*/

.dragon-head, .dragon, .mushroom {
    height: 100%;
    width: 100%;
    opacity: 1;
    z-index: 1;
    border: 4px salmon;
}

.dragon-head{
    background-color: green;
    border: 2px greenyellow;
}

.dragon{
    border: 2px salmon;
    background-color: red;
}

.mushroom{
    border: 2px white;
    background-image: radial-gradient(#2whit12121 20%, #e53935 20%);
    height: 100px;
    width: 100px;
}


*add css to our body*/

.snake-head, .rodent .snake{
    height: 100%;
    width: 100%;
    opacity: 1;
    z-index: 1;
    border: 2px solid white;
}
.snake{
    background-color: yellow;
    border: 2px solid #595953;
}
.snake-head{
    background: linear-gradient(yellow, red);
}
.rodent{
    background-image: radial-gradient(#212121 20%, #e53935 20%);
    border: 2px solid whitesmoke;
}

